<h1>Doghomes</h1>

<div class="cards-container">

  <% @doghomes.each do |doghome| %>
    <div class="card">
      <h2> <%= doghome.title %> </h2>
      <p> <%= doghome.description %> </p>
      <p> <%= doghome.price_per_day %> </p>
      <button><%= link_to "See more details", doghome_path(doghome) %></button>
    </div>
  <% end %>
</div>

<div>
  <%= link_to "Home", root_path %>
</div>


