<h1>See your Doghome: <%= @doghome.title %> </h1>

<div>
  <h2> <%= @doghome.title %> </h2>
  <p> <%= @doghome.description %> </p>
  <p> <%= @doghome.price_per_day %> </p>
  <br>
  <%= render "shared/new_booking", booking: @booking %>
  <br>
  <% unless user_signed_in? %>
    <%= link_to "to book log in!", new_user_session_path, class: "btn btn-primary"  %>
  <% end %>
    <%# <button id="sweet-alert-booking_confirmation" class="btn btn-primary">Book now</button> %>

</div>

<div>
  <%= link_to "Home", root_path %>
  <%= link_to "See all", doghomes_path %>
</div>
