
<div class="jumbotron">
  <h1 class="display-4"> Doghome of <%= @doghome.title %></h1>
  <p class="lead"><%= @doghome.description %></p>
  <hr class="my-4">
  <p>Search and connect with trusted Doghomers.</p>
  <p class="lead">
  <form class="form-inline">
    <input class="form-control mr-sm-6" type="search" placeholder="Location" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
  <hr>
</div>

<div class=container>
  <!-- <div> -->
    <!-- <h1>See your Doghome: <%= @doghome.title %> </h1> -->
    <!-- <h2> <%= @doghome.title %> </h2> -->
    <!-- <p> <%= @doghome.description %> </p> -->
    <!-- <p> <%= @doghome.price_per_day %> </p> -->
  <!-- </div> -->
  <div>
    <%= image_tag("flat.jpg", size: "400") %>
    <!-- style="background-image: url('<%= image_path "flat.jpg" %>)"> -->
    <div>
      <div>
        <h2><%= @doghome.title %></h2>
        <p><%= @doghome.description %> "!"</p>
      </div>
      <h2 ><%= @doghome.price_per_day %> </h2>
    </div>
  </div>

  <br>

  <div class="row justify-content-center">
    <div class="col-lg-6" >
    <%= render "shared/new_booking", booking: @booking %>
    <br>
    </div>
  </div>
</div>

<div class="jumbotron">
  <%= link_to "See all doghomes", doghomes_path, class:"btn btn-outline-success"  %>
  <hr>
  <%= link_to "Back to home", root_path, class:"btn btn-outline-success" %>
</div>
