<div class="card text-center">
  <div class="card-header">
    Booking confirmation
  </div>
  <div class="card-body">
    <h4 class="card-title">Enjoy your stay at <%= @booking.doghome.title %>!</h4>
    <br>
    <p class="card-text">Your booking has between confirmed for <strong><%= @booking.start_date %></strong> to <strong><%= @booking.end_date %></strong>.</p>
    <p> Total cost of your stay is <strong><%= @booking.total_price %>€.</strong></p>
    <br>
    <%= link_to "Back to your doghome", doghome_path(@booking.doghome), class: "btn btn-outline-success" %>
    <%= link_to "Explore more doghomes", doghomes_path, class: "btn btn-outline-success" %>
    <br>
  </div>
  <div class="card-footer text-muted">

  </div>
</div>
